
body{
 background: azure;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Navy{
    background: lavenderblush;
     /* background: radial-gradient(red, lavenderblush); */
}
.mdl-layout__drawer-button {
 color: mediumslateblue;
}
.mdl-layout__header-row > * {
 
    color: black;
}
.mdl-layout__header-row .mdl-navigation__link {
  color: black;
}
.mdl-layout__drawer.is-visible {
    background: azure;
}
.navbar {
  flex-wrap: unset !important;
}
.meNav{
      width: 72% !important;
}

.navbar-nav {
  flex-direction: row !important;
  justify-content: space-around !important;
}
.sideBar{
  text-align: center;
   margin: 0 auto;
}
.mdl-layout__obfuscator.is-visible {
    pointer-events: auto;
     opacity: 0.2; 
}

/************************************************************************************************
                                            About ME Section 
 ************************************************************************************************/
.me {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin: 20px auto;
}
.bio{
      text-align: center;
          margin: auto;
    width: 50%;
}

.portfolio {
 
}
.contact {
      justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
}